APP_SECRET=__APP_SECRET__
ADMIN_USERNAME=admin
ADMIN_PASSWORD=__ADMIN_PASSWORD__
CONTROLLER_ENDPOINT_ID=usp:example:controller
MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_TLS=false
MQTT_CONTROLLER_USERNAME=controller
MQTT_CONTROLLER_PASSWORD=__CONTROLLER_PASSWORD__
MQTT_AGENT_USERNAME=agent
MQTT_AGENT_PASSWORD=__AGENT_PASSWORD__
MQTT_CONTROLLER_TOPIC=usp/controller
MQTT_AGENT_TOPIC_TEMPLATE=usp/agent/[[EID]]
MQTT_TLS_COMMON_NAME=localhost
GUI_BIND_ADDRESS=127.0.0.1
MQTT_BIND_ADDRESS=0.0.0.0
DATABASE_PATH=/data/controller.db
